<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <div class="row sectionBackground">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="p_logo_top">
                            <span class="logo">
                                <a ui-sref="index" ui-sref-active="home">
                                    T&amp;A
                                </a>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3>You're invited!</h3>
                        <p>We're having our Nikkah on March 26, 2017</p>
                    </div>
                </div>

                <div class="row wedding">
                    <div class="col-sm-12">
                        <h4>Nikkah Ceremony</h4>
                        <p>Venue: Radisson Blu Edwardian</p>
                        <p>1:30pm</p>
                    </div>
                </div>

                <div class="row wedding">
                    <div class="col-sm-12">
                        <h4>
                            Reception
                        </h4>
                        <p>Venue: [The same place as the Nikkah ceremony]</p>
                        <p>2:30pm</p>
                    </div>
                </div>
                <hr>
                <div class="row wedding">
                    <div class="col-sm-12">
                        <p>
                            Looking to RSVP
                            <br>
                            <a ui-sref="rsvp">I want to join you guys :)</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
