<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <div class="row sectionBackground">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="p_logo_top">
                            <span class="logo">
                                <a ui-sref="index" ui-sref-active="home">
                                    T&amp;A
                                </a>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3>
                            Our Wedding Photographs
                        </h3>
                        <p>share your instagram photos/videos with the hastags:<br>
                            <span class="makeitStand">
                                #TasWedsAtib
                            </span>
                            /
                            <span class="makeitStand">
                                #TAWedding2017</span>
                        </p>
                    </div>
                </div>

                <div class="row wedding">
                    <div class="col-sm-12">

                        <div class="row">
                            <div class="col-sm-12">
                                <div
                                    data-is
                                    data-is-api="instashow/api/"
                                    data-is-source="#TAWedding2017, #TasWedsAtib"
                                    data-is-rows="4"
                                    data-is-info="description"
                                    data-is-popup-info="location"
                                    data-is-color-gallery-overlay="rgba(207, 174 , 136, 0.8)"
                                    data-is-color-gallery-arrows="rgb(207,174,136)"
                                    data-is-color-gallery-arrows-hover="rgba(207, 174 , 136, 0.6)"
                                    data-is-color-popup-overlay="rgba(237, 237 , 237, 0.8)"
                                    data-is-color-popup-bg="rgba(234, 234 , 234, 1)"
                                    data-is-color-popup-text="rgb(115, 96, 100)"
                                    data-is-color-popup-controls="rgb(207,174,136)"
                                    data-is-color-popup-mobile-controls="rgb(203, 140, 67)"></div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row wedding">
                    <div class="col-sm-12">
                        <form style="text-align: center; text-transform: none !important;">
                            <label class="sublabel" style="text-transform: none !important;">Disclaimer: These pictures will be displayed on social media and are public,
                                <br>
                                guests<b>
                                    should ask permission</b>
                                of others when instagramming.</label>
                        </form>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
