<div class="row">
	<div class="col-sm-12">
		<h2 ui-sref="index">Tasnim &amp; Atib </h2>
	</div>
</div>
<div class="row">
	<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
		<div class="row sectionBackground">
			<div class="col-xs-12">
				
				<div class="row" >
					<div class="col-sm-12" >
						<h3>
							Our Wedding Photographs
						</h3>
						<p>Share your instagram photos with the #tasnimandatib</p>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						
						<div class="row">
								<div class="col-sm-12">									
									<div 
										data-is data-is-api="instashow/api/"
										data-is-source="#2017weddingTA" 
										data-is-rows="4" 
										data-is-info="description" 
										data-is-popup-info="location, passedTime, description" 
										data-is-color-gallery-overlay="rgba(163, 90, 36, 0.97)" 
										data-is-color-gallery-arrows="rgb(239, 129, 0)" 
										data-is-color-gallery-arrows-hover="rgb(241, 173, 11)" 
										data-is-color-popup-overlay="rgba(108, 40, 11, 0.9)" 
										data-is-color-popup-bg="rgb(255, 252, 235)" 
										data-is-color-popup-username="rgb(239, 129, 0)" 
										data-is-color-popup-username-hover="rgb(241, 173, 11)" 
										data-is-color-popup-instagram-link="rgb(239, 129, 0)" 
										data-is-color-popup-instagram-link-hover="rgb(241, 173, 11)" 
										data-is-color-popup-counters="rgb(44, 24, 0)"
										data-is-color-popup-anchor="rgb(239, 129, 0)" 
										data-is-color-popup-anchor-hover="rgb(241, 173, 11)" 
										data-is-color-popup-text="rgb(44, 24, 0)" 
										data-is-color-popup-controls="rgb(203, 140, 67)" 
										data-is-color-popup-mobile-controls="rgb(203, 140, 67)">
							 		</div>
								</div>
							</div>
         
					</div>
				</div>

				

			</div>
		</div>
	</div>
</div>