<!-- <div class="row">
	<div class="col-sm-12">
		<h2 ui-sref="index">Tasnim &amp; Atib </h2>
	</div>
</div> -->
<div class="row">
	<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
		<div class="row sectionBackground">
			<div class="col-xs-12">
				<div class="row">
					<div class="col-sm-12">
						<p class="p_logo_top">
							<span class="logo">
								<a ui-sref="index" ui-sref-active="home">
								 T&amp;A
								</a>
							</span>
						</p>
					</div>
				</div>
				<div class="row" >
					<div class="col-sm-12" >
						<h3>
							Our Wedding Playlist
						</h3>
						<p>what would you like to listen to?</p>
					</div>
				</div>

				<div class="row wedding">
					<div class="col-sm-12" style="text-align: center;">
						<iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3Aatib89%3Aplaylist%3A31lhs8sVaZE1ey8EsptROa" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
					</div>
				</div>

				<hr>

				<div class="row wedding" style="text-align: center;">
					<div class="col-sm-12">
						<p class="wedding_inner">I want to add this song too ...  (:</p>
						<a href="mailto:hello@tasnimandatib.co.uk">
							hello [at] tasnimandatib.co.uk
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

