<div class="row">
	<div class="col-sm-12">
		<h2 ui-sref="index">Tasnim &amp; Atib </h2>
	</div>
</div>
<div class="row">
	<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
		<div class="row sectionBackground">
			<div class="col-xs-12">
				
				<div class="row">
					<div class="col-sm-12" >
						<h3>
							Celebrate with us
						</h3>
						<p>Let us know if you can attend by January 23, 2017. Hugs!! ^_^</p>
					</div>
				</div>

				
				
					<form>
						<div class="row wedding" ng-hide="rsvp" style="text-align: center;">
							<div class="col-xs-6 col-xs-offset-3 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 ">
								<input type="password" ng-model="password_rsvp" class="form-control" style="text-align: center;" >
								<label class="sublabel">Enter RSVP Password</label>
							</div>
						</div>
					</form>

					<form action="emailformrsvp.php" name="rsvp_form" method="POST">

						<div ng-if="rsvp_password()">
							<div class="row wedding">
								<div class="col-sm-10 col-sm-offset-1">
									<label for="email">Email Address * </label>
									<input required="true" type="email" class="form-control" name="email">
								</div>
							</div>

							<div class="row wedding">
								<div class="col-sm-10 col-sm-offset-1">
									<label>Name *</label>
									<div class="row">
										<div class="col-sm-6">
											<input required="true" type="text" class="form-control" name="firstname">
											<label class="sublabel">First Name</label>
										</div>
										<div class="col-sm-6">
											<input required="true" type="text" class="form-control" name="lastname">
											<label class="sublabel">Last Name</label>
										</div>
									</div>
								</div>
							</div>

							<div class="row wedding">
								<div class="col-sm-10 col-sm-offset-1">
									<label for="coming">Will you be coming? *</label>
									<input required="true" type="text" class="form-control" name="coming">
								</div>
							</div>

							<div class="row wedding">
								<div class="col-sm-10 col-sm-offset-1">
									<label for="plusguest">Additional Guests</label>
									
									<div class="row" style="margin-top: 10px;"> 
										<div class="col-xs-6">
											<input type="text" class="form-control" name="firstname_1">
											<label class="sublabel">First Name</label>
										</div>
										<div class="col-xs-6">
											<input type="text" class="form-control" name="lastname_1">
											<label class="sublabel">Last Name</label>
										</div>
									</div>
									
									<div class="row" style="margin-top: 10px;">
										<div class="col-xs-6">
											<input type="text" class="form-control" name="firstname_2">
											<label class="sublabel">First Name</label>
										</div>
										<div class="col-xs-6">
											<input type="text" class="form-control" name="lastname_2">
											<label class="sublabel">Last Name</label>
										</div>
									</div>
									
									<div class="row" style="margin-top: 10px;">
										<div class="col-xs-6">
											<input  type="text" class="form-control" name="firstname_3">
											<label class="sublabel">First Name</label>
										</div>
										<div class="col-xs-6">
											<input  type="text" class="form-control" name="lastname_3">
											<label class="sublabel">Last Name</label>
										</div>
									</div>

									<div class="row" style="margin-top: 10px;">
										<div class="col-xs-6">
											<input  type="text" class="form-control" name="firstname_4">
											<label class="sublabel">First Name</label>
										</div>
										<div class="col-xs-6">
											<input type="text" class="form-control" name="lastname_4">
											<label class="sublabel">Last Name</label>
										</div>
									</div>

								</div>
							</div>
							
							<div class="row wedding">
								<div class="col-sm-10 col-sm-offset-1">
									<label for="message">Message</label>
									<textarea name="message" class="form-control"></textarea>
								</div>
							</div>

							<div class="row wedding">
								<div class="col-sm-4 col-sm-offset-4">
									<input type="submit" value="submit" class="btn btn-primary">
								</div>
							</div>
						</div>
					</form>
				
				

			</div>
		</div>
	</div>
</div>

